#foto {

  text-align: center;
  background-color: #00509d;
  margin: 10px 10px 10px 10px;
  border: solid black;
  border-width: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  flex-basis: 20%;
}

#sinopse {
  width: 200px;
  text-align: justify;
  margin: 10px 10px 10px 10px;
  padding: 35px 35px 20px 35px;
  box-sizing: content-box;
  font-size: 22px;
  color: #f4f3ee;
  font-family: arial;
  background-color: black;
  flex-basis: 80%
}

section {
  display: flex;
}

body {
  background: rgb(48, 46, 46);
  background-image: url(img/pk.png);
}

h2 {
  font-size: 25px;
}

div {
  font-size: 25px;
  color: #fdc500;
  font-family: arial;

}