/*
	Este é um comentário de multiplas linhas
*/
.titulo{
	background-color: rgb(48, 46, 46);
    font-size: 25px;                
    padding: 10px auto;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

.titulo h1{
    color: white;
}

.titulo h3{
    color: gray;
    font-size: 15px;
}

p{
font-size: 15px;
}

img{ 
    width: 275px;
    border: 5px solid black ;
}   

body{
    background: rgb(48, 46, 46);
}

main{
    display: flex;

}